@import url("./fonts.css");

html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Inter-Regular";
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}
header{
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
 }
 .main-content{
    /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 1 0 auto;
 }
 footer{
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
 }
 /* Обнуление и футер к низу */

.VulcanBlack{
    background: #050716;
}
.GunPowder{
    background: #3F3D54;
}
.BlueRibbon{
    background: #1D4BD2;
}
.LightskyBlue{
    background: #9CC6FB;
}
.SpunPearl{
    background: #B2B2BD;
}
.Mischka{
    background: #D8D8E0;
}
.Whisper{
    background: #EDEFF2;
}
.JustWhite{
    background: #FFFFFF;
}
.NeonCarrot{
    background: #F0962E;
}
.WildWatermelon{
    background: #F24C60;
}
.SuperLightskyBlue{
    background: #DBE9F8;
}
.Ser{
    background: #E5E5E5;
}
.light-ser{
    background: #F4F5F7;
}
.Secondary{
    background: #F24C60;
}

/*  */
.Secondary-color{
    color: #F24C60;
}
.VulcanBlack-color{
    color: #050716;
}
.GunPowder-color{
    color: #3F3D54;
}
.BlueRibbon-color{
    color: #1D4BD2;
}
.LightskyBlue-color{
    color: #9CC6FB;
}
.SpunPearl-color{
    color: #B2B2BD;
}
.Mischka-color{
    color: #D8D8E0;
}
.Whisper-color{
    color: #EDEFF2;
}
.JustWhite-color{
    color: #FFFFFF;
}
.NeonCarrot-color{
    color: #F0962E;
}
.WildWatermelon-color{
    color: #F24C60;
}
.header-top a{
    color: #FFFFFF;
}
ul{
    padding: 0 ;
}
.fs-14{
    font-style: 14px;
    /* font-size: calc(10px + 4 * ((100vw - 320px) / (1920 - 320))); */
}
.fs-16{
    font-size: calc(14px + 2 * ((100vw - 320px) / (1920 - 320)));
}
.fs-18{
    font-size: calc(16px + 2 * ((100vw - 320px) / (1920 - 320)));
}
.fs-40{
    /* font-size: 40px; */
    font-size: calc(15px + 25 * ((100vw - 320px) / (1920 - 320)));
}
.fs-32{
    /* font-size: 32px; */
    font-size: calc(22px + 10 * ((100vw - 320px) / (1920 - 320)))
}
.fs-24{
    /* font-size: 24px; */
    font-size: calc(16px + 8 * ((100vw - 320px) / (1920 - 320)));

}
.lh-14{
    line-height: calc(10px + 4 * ((100vw - 320px) / (1920 - 320)));
}
.lh-22{
    line-height: calc(21px + 1 * ((100vw - 320px) / (1920 - 320)));
}
.lh-17{
    line-height: calc(16px + 1 * ((100vw - 320px) / (1920 - 320)));
}
.lh-34{
    line-height: calc(20px + 14 * ((100vw - 320px) / (1920 - 320)));
}
.lh-28{
    /* line-height: 28px; */
    line-height: calc(20px + 8 * ((100vw - 320px) / (1920 - 320)));
}
.lh-39{
    line-height: calc(20px + 19 * ((100vw - 320px) / (1920 - 320)));
}
.lh-48{
    /* line-height: 48px; */
  /* line-height: calc(15px + 33 * ((100vw - 320px) / (1920 - 320))); */
  line-height: calc(28px + 20 * ((100vw - 320px) / (1920 - 320)));
}
.lh-32{
    line-height: calc(20px + 12 * ((100vw - 320px) / (1920 - 320)));
}
.lh-24{
    line-height: 24px;
    /* line-height: calc(23px + 1 * ((100vw - 320px) / (1920 - 320))); */
}
.lh-19{
    line-height: calc(15px + 4 * ((100vw - 320px) / (1920 - 320)));
}
.me-221{
    margin-right: 221px;
}
.me-43{
    margin-right: 43px;
}
.me-55{
    margin-right: 55px;
}
.me-72{
    margin-right: 72px;
}
.me-32{
    margin-right: 32px;
}
li{
    list-style-type: none;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 19px;
}
li a{
    color: #050716 !important;
}
.mw-320{
    max-width: 320px;
}
.mb-40{
    margin-bottom: 40px;
}

.pb-96{
    padding-bottom: 96px;
}
.pb-60{
    padding-bottom: 60px;
}
.pt-299{
    padding-top: 299px;
}
.fw-400{
font-weight: 400;
}
.fw-800{
    font-weight: 800;
    }
.px-30{
 padding: 0 30px;
}
.border-mishka{
    border: 1px solid #D8D8E0;
}
.font-bold{
    font-family: "Inter-Bold";
}
.w-899{
    max-width: 899px;
}
.w-80{
    width: 80%;
}
.w-1370{
    max-width: 1370px;
}
.w-390{
    max-width: 390px;
}
.container2{
    max-width: 1670px;
    margin: auto;
    margin-top: 30px;
}
/*  */
/*  */
/*  */
input{
    max-height: 40px;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #D8D8E0;
    max-width: 100%;
}
input::placeholder{
    opacity: 0.5;
}
.search-img{
    right: 0;
    align-items: center;
}
.carousel {
    position: relative;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
    padding: 0 0px !important;
}
.burger-menu{
    border-radius: 8px;
    max-height: 48px;
    /* max-width: 162px; */
}
.header-bottom-2{
    font-family: "Inter-Bold";
}
.section-one{
    margin-bottom: 0px;
}
.top-184{
    top: 184px;
}
.pt-67{
    padding-top: 67px;
}
.slid-btn{
    color: white;
    padding: 13px 35px;
    background: #F0962E;
    border-radius: 8px;
    margin-left: 0px;
    margin-top: 0px;
    max-height: 47px;
    line-height: 20px;
}
.tenka{
    position: relative;
}
.inp{
    width: 20px !important;
    padding: 0 !important;
    border: none !important;
    text-align: center;
}
.inp:focus-visible{
    width: 20px !important;
    padding: 0 !important;
    border: 0px solid transparent !important;
    text-align: center;
}
.right-decor{
    right: 24px;
}
.rotate-180{
    transform: rotate(180deg);
}
.decor{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    width: 40px;
    height: 40px;
    background: #EDEFF2;
    border-radius: 4px;
}
.description{
    position: relative;
    background: transparent;
    border: none;
}
.description:focus{
    /* content: ''; */
    /* position: absolute; */
    left: 0;
    right: 0;
    /* border-radius: 0px; */
    padding-bottom: 16px;
    border-bottom: 4px solid #1D4BD2;
}
.section-two{
    background: #F4F5F7;
}
.section-three{
    background: #DBE9F8;
    background-position: 95% 100%;
    background-repeat: no-repeat;
    background-image: url(assets/images/illustration.png);
}
.section-three button{
    border: none;
    color: white;
    background: #1D4BD2;
    font-size: 18px;
    line-height: 22px;
    padding: 13px 26px;
    border-radius: 8px;
}
.section-four{
    padding: 30px 0;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 0% -560px;
}
.curcor{
    cursor: pointer;
}
.mw-160{
    max-width: 160px;
}
.product-color {
    border: none;
    padding: 0;
    position: relative;
}
.product-color::before{
    position: absolute;
    content: '';
    background: #fff;
    opacity: 0.7;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.product-color:focus::before {
    border: 2px solid black;
    border-radius: 4px;
    background: none !important;
}
.color-product-size{
    margin-bottom: 32px;
    max-width: 40px;
    max-height: 40px;

}
.color-product{
    border: none;
    padding: auto;
    background: transparent;
    border: 1px solid #D8D8E0;
    border-radius: 6px;
 
}
.color-product:focus {
    border: 2px solid #1D4BD2;
    border-radius: 6px;
}
.border-ser{
    border: 1px solid #D8D8E0;
}
.border-r-8{
    border-radius: 8px;
}

.section-five{
    padding-bottom: 30px;
    position: relative;
    background: #F4F5F7;
    background-image: url(assets/images/Vector4.png);
    background-repeat: no-repeat;
    background-position: 0% -640px;
}

footer{
    background: #F4F5F7;
    background-image: url(assets/images/footer-img.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

.six button{
    border: none;
    color: white;
    background: #F0962E;
    font-size: 18px;
    line-height: 22px;
    padding: 13px 26px;
    border-radius: 8px;
}
.slid-content{
    height: 90px;
}
.benefits{
    max-width: 233px;
    max-height: 190px;
}
.py-10{
    padding: 10px 0;
}
.blabla{
    max-width: 903px !important;
}
.footer-bottom{
    position: relative;
}
.footer-bottom::after{
    content: '';
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;
    background: #D8D8E0;
}
.p-20{
    padding: 20px;
}
.mt-20{
    margin-top: 20px;
}
.mb-20{
    margin-bottom: 20px;
}
.skid{
    font-size: 16px;
    line-height: 19px;
    color: white;
    padding: 4.5px 13px;
    background: #F24C60;
    border-radius: 4px 0px 0px 4px;
    max-width: 68px;
    position: absolute;
    right: 0;
    top: 30px;
    z-index: 200;
}
.about-us{
    max-width: 1370px;
    position: relative;
    top: -20px;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.15);
    background-image: none;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    min-height: 384px;
    /* padding: 54px 15% 30px 15%; */
}
.about-us h2{
    white-space: nowrap;
    /* margin-right: 91px; */
}
.mw-675{
    max-width: 755px;
}
.mw-527{
    max-width: 527px;
}
.mw-175{
    max-width: 176px;
}
.pt-10{
    padding-top: 10px;
}
.mw-141{
    max-width: 141px;
}
.footer-decor{
    display: none;
}
.prise{
    max-width: 1370px;
    background: white;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.15);
    background-image: none;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    padding: 12px;
}
select{
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 8px 16px;   
}
.prise h2{
    /* white-space: nowrap; */
    margin-right: 91px;
}
.shadow{
    /* position: absolute; */
    opacity: 0.5;
    background: #000;
    width: 100%;
    height: 100%;
}
@media (min-width: 576px) {
    
    .prise{
        /* padding: 54px 20px 30px 220px; */
        background-image: url(assets/images/Group28.png);
        background-position: right bottom;
    }
}
@media (min-width: 768px) { 
    .container2{
        margin-top: 30px;
    }
    .me-md-91{
        margin-right: 91px;
    }
    .slid-btn{
        margin-top: 0px;
        
    }
    .carousel-control-prev {
        margin-bottom: 0px;
        margin-top: auto;
      }
      
      .carousel-control-next {
        margin-bottom: 0px;
        margin-top: auto;
      }
    .me-md-55{
        margin-right: 55px;
    }
    .prise{
        padding: 69px 117px 69px 125px;
    }
}
@media (min-width: 992px) { 
    .pb-lg-130{
        padding-bottom: 130px;
    }
    .about-us{
        /* padding: 54px 20px 30px 220px; */
        background-image: url(assets/images/Group27.png);
    }
    .prise img{
        margin-right: 96px;
    }
    .mb-lg-40{
        margin-bottom: 40px;
    }
    .mt-lg-72{
        margin-top: 72px;
    }
}
@media (min-width: 1200px) {
    .container2{
        margin-top: 130px;
    }
    .pt-lg-67{
        padding-top: 67px;
    }
    .py-xl-72{
        padding: 72px 0;
    }
    .mt-xl-72{
        margin-top: 72px;
    }
    .mb-xl-40{
        margin-bottom: 40px;
    }
    .section-four{
        background-image: url(assets/images/Group26.png);
    }
    .slid-btn{
        margin-left: 70px;

    
    }
    .pt-xl-32{
        padding-top: 32px;
    }

    .pt-xl-40{
        padding-top: 40px;
    }
    .pe-xl-40{
        padding-right: 40px;
    }
    .pb-xl-40{
        padding-bottom: 40px;
    }
    .ps-xl-40{
        padding-left: 40px;
    }


    .pt-xl-218{
        padding-top: 218px;
    }
    .section-one{
        margin-bottom: 326px;
    }
    .carousel {
        position: absolute;
    }
    .pt-xl-120{
        padding-top: 120px;
    }
    .pb-xl-120{
        padding-bottom: 120px;
    }
    .pb-xl-325{
        padding-bottom: 325px;
    }
    .pt-xl-299{
        padding-top: 299px;
    }
    .about-us{
        top: -170px;
        position: absolute;
        padding: 54px 60px 130px 60px;
    }
    .me-xl-221{
        margin-right: 221px;
    }
  }
@media (min-width: 1500px) { 
    .footer-decor{
        display: block;
    }
    .slider .slick-arrow.slick-prev {
        left: -30px !important;
        background: url("assets/images/Left.png") no-repeat
    }
    
    .slider .slick-arrow.slick-next {
        right: -30px !important;
        background: url("assets/images/Right.png") no-repeat
    }
 }
 @media (min-width: 1400px) {
     .mw-xxl-320{
        max-width: 320px;
    }
  }
  @media (min-width: 1900px) { 
   .catalog-img{
       display: inline !important;
   }
   .catalog-decor-img{
    display: inline !important;
}
 }
 .catalog-img{
    display: none;
}
.catalog-decor-img{
    position: absolute;
    right: 0;
    top: 870px;
    display: none;
}
.slick-slider {
    max-width: 1400px;
    margin: auto;
}
.page-item{
    max-width: 100px;
}
.slick-list {
    overflow: hidden;
}

.slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.slider {
    position: relative;
    padding: 0px 0px;
}

@media (max-width: 767px) {
    .slider {
        padding: 0px 40px;
    }
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -30px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 65px;
    border: none !important;
    height: 65px;
    padding: 0 !important;
    background-position: center !important;
}

.slider .slick-arrow.slick-prev {
    left: 20px;
    background: url("assets/images/Left.png") no-repeat
}

.slider .slick-arrow.slick-next {
    right: 20px;
    background: url("assets/images/Right.png") no-repeat
}

.slider .slick-arrow.slick-disabled {
    opacity: 0.2;
}

.slider .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slider .slick-dots li {
    list-style: none;
    margin: 0px 10px;
}

.slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid #fff;

}

.slider__item {
    padding: 0px 15px;
    
}

.slider__item img {
    max-width: 100%;
   
}
.slider-obertka{
    position: relative !important;
}
.slider-obertka:hover::after {
    content: '';
    position: absolute;
    background-image: url(assets/images/icon/eye.png) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    top: 0px;
    left: 0px;
    background: #1D4BD2;
    opacity: 0.7;
    border-radius: 4px;
    width: 100%;
    height: 100%;
}
.slider-obertka-2{
    display: flex;
    padding: 20px;
    flex-direction: column;
    background: white;
}
